/* Портфолио */

section.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $p_b_color;
  border-top: 1px solid #ececec;
}

.choice-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border: 4px solid #f5f4fa;
  border-radius: 4px;
  padding: 2px 18px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.choice-button:hover,
.choice-button:focus {
  background: $a_color;
  color: $p_b_color;
  border: 4px solid $a_color;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio h1 {
  font-size: 0px;
  margin: 0;
}

ul.choice {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 50px;
}

.choice li + li {
  margin-left: 8px;
}

ul.choice-card {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
}

.card-style {
  margin-right: 30px;
  margin-bottom: 30px;
  background: $p_b_color;
  width: calc((100% - 30px * 2) / 3);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.choice-card li:nth-child(3n) {
  margin-right: 0;
}

.choice-card li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-style:hover,
.card-style:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card-text {
  position: relative;
  overflow: hidden;
}

.portfolio .text {
  position: absolute;
  opacity: 0;
  pointer-events: none;

  font-size: 18px;
  line-height: 1.55;
  color: $p_b_color;
  background-color: rgba(33, 150, 243, 0.9);
  margin: 0;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-style:hover .text,
.card-style:focus .text {
  opacity: 1;
  transform: translate(0, -100%);
}

.card-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.portfolio h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $p_color;
  text-align: left;
  margin-top: 0;
  margin-bottom: 4px;
}
.portfolio p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $s_color;
  margin: 0;
}
